Source: ros-lyrical-autoware-internal-metric-msgs
Section: misc
Priority: optional
Maintainer: "Temkei Kem" <temkei.kem@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake-auto, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-builtin-interfaces, ros-lyrical-rosidl-default-generators, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/autoware_internal_metric_msgs/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-autoware-internal-metric-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-builtin-interfaces, ros-lyrical-rosidl-default-runtime, ros-lyrical-ros-workspace
Description: The autoware_internal_metric_msgs package
