Source: ros-lyrical-autoware-internal-msgs
Section: misc
Priority: optional
Maintainer: Berkay Karaman <berkay@leodrive.ai>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake-auto, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-builtin-interfaces, ros-lyrical-rosidl-default-generators, ros-lyrical-std-msgs, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/autoware_internal_msgs/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-autoware-internal-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-autoware-internal-debug-msgs, ros-lyrical-autoware-internal-metric-msgs, ros-lyrical-autoware-internal-perception-msgs, ros-lyrical-autoware-internal-planning-msgs, ros-lyrical-builtin-interfaces, ros-lyrical-rosidl-default-runtime, ros-lyrical-std-msgs, ros-lyrical-ros-workspace
Description: Autoware internal messages package.
